table {
    border-collapse: collapse;
    font-family: Arial;
}
caption{
    border: 1px solid black;
}

table {
    border: 1px solid black;
}
.head{
    background-color: red;
    color: white;
}
.bold{
    font-weight: bold;
}

}